<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <connectionStrings>

    
    <add name="EBVConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=BBSQL;Initial Catalog=EBV;User ID=sa;Password=fred;Persist Security Info=True" />
    <add name="BullConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=BBSQL;Initial Catalog=Bull2000;User ID=sa;Password=fred;Timeout=60;Persist Security Info=True" />
    <add name="CowCalfConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=BBSQL;Initial Catalog=CC2007;User ID=sa;Password=fred;Persist Security Info=True" />
    <!-- Local Instance -->
<!--
    <add name="EBVConnectionString" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=STEVO-PC\SQLEXPR64;Initial Catalog=EBV;Integrated Security=true;Persist Security Info=True" />
    <add name="BullConnectionString" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=STEVO-PC\SQLEXPR64;Initial Catalog=Bull2000;Integrated Security=true;Timeout=60;Persist Security Info=True" />
    <add name="CowCalfConnectionString" 
         providerName="System.Data.SqlClient" 
         connectionString="Data Source=STEVO-PC\SQLEXPR64;Initial Catalog=CC2007;Integrated Security=true;Persist Security Info=True" />
-->
    
  </connectionStrings>
  <appSettings>
    <!--production -->
    <add key="ASRemlBulkInsertFolder" value="\\BBSQL\ASReml" />
<!--
    <add key="ASRemlBulkInsertFolder" value="C:\Temp\ASReml\BulkInsert\" />
-->
    <add key="ASRemlDataFilesFolder"  value="C:\Temp\ASReml\" />
  </appSettings>
  <system.web>
    <pages theme="Default" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        validate="false" />
    </httpHandlers>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
      -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <!--  * maxRequestLength *
          specifies the limit for the input stream buffering threshold, in KB. This limit can be used to prevent          denial of service attacks that are caused, for example, by users posting large files to the server.
          The default is 4096 KB. If the threshold is exceeded, a ConfigurationErrorsException is thrown.
    -->
    <httpRuntime maxRequestLength="100000" />
    <customErrors mode="Off" />
    <authorization>
      <allow users="*" />
    </authorization>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
      -->
    <authentication mode="Windows" />
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.webServer>
    <handlers>
      <!--
      <add name="Reserved.ReportViewerWebControl.axd_*" path="Reserved.ReportViewerWebControl.axd" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="integratedMode,runtimeVersionv2.0" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
-->
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>