body
{
	font-family: 'Trebuchet MS';
}
#homepagemenu
{
	background-color: #fffacd;
	color: olive;
	font-weight: bold;
}
.genericContent
{
    border-bottom: 1px solid #993333;
    border-left: 1px solid #993333;
    border-right: 1px solid #993333;
    height: 100%;
}

.genericText
{
    margin: 0em 1.5em 1.5em 1.5em;
    padding-top: 1.5em;
    font-size: 1em;
}
